.menu{
    background-color: rgb(41, 195, 206);
    width: 150px;
    padding-inline:2px;
}
.menu li {
    display:block ;
    padding: 30px 30px;
    line-height: 30px;
    position: relative;
}
.menu li a {
    color: black;
    text-decoration: none;
    border: 2px solid #cccb89;
    background-color: rgb(228, 226, 103);
    padding: 20px; 

}

.menu li ul {
    position: absolute;
    background-color: rgb(78, 77, 80);
    left: 160px;
    top: 100px;
    padding: 20px;
    display: none;
}
.menu li:hover ul {
    display: block;
}