.my-do{
    color: #cc184e;
}
.my-donhat{
    color:#454ae8;
}
.my-dodam{
    color: #950019;}


*{
    background-color: cadetblue;
}

.chu-dam{
    font-weight: 600;
}
.fa-sharp { 
    color: yellow;
}
.my-box{
    border: 1px dashed #dd0c24;
}