body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1C2743;
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.contenter {
    display: flex;
    justify-content: space-around;
}

.logo {
    display: flex;
    margin-top: 20px;
    color: #999;
}

.images {
    border-radius: 50px;
    display: block;
    height: 2.25em;
    width: 2.25em;

}

.content {
    margin-top: -10px;
    line-height: 0.1;
    margin-left: 10px;
}

.copyright {
    color: #999;
}

.title {
    color: #999;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 25px;
}

.title-1 {
    margin-top: 4em;
    color: #999;
    font-size: 1.25rem;
    font-weight: 600;
}

.fa-solid.fa-arrow-up-right-from-square {
    color: #999;
}

.title-2 {
    margin-top: 5.5em;
    color: #999;
    font-size: 1.25rem;
    font-weight: 600;
}

.title-3 {
    color: white;
}
.logo-1{
    display: flex;
    margin-top: 20px;
    color: #999;
}
.images-1{
    border-radius: 50px;
    display: block;
    height: 2.25em;
    width: 2.25em;
}
.content-1{
    margin-top: -10px;
    line-height: 0.1;
    margin-left: 10px
}
.bnb{
    display: none;
}
.bnt-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (max-width:800px) {
    .bnt{
        display: none;
    }
    .bnb{ 
        display: block;
    }
    
}