body {
    font-family: “IBM Plex Sans”, “IBM Plex Mono”;
}

.content-1 {
    width: 1200px;
    margin: auto;
    text-align: center;
}

.header-produst {
    font-size: 40px;
    line-height: 44px;
    font-weight: 500;
    color: rgba(0, 0, 0, .85);
    text-align: center;
    font-family: "IBM Plex Sans";
}

.banner {
    margin-top: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: "IBM Plex Sans";
}


.text-box a {
    color: #fff;
    text-decoration: none;
}

.products-1 {
    position: relative;
}

.text-box {
    color: #fff;
    padding: 0 48px;
    position: absolute;
    top: 150px;
    width: 292px;
    text-align: center
}

.content-2 {
    display: flex;
    max-width: 1200px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    justify-content: space-between;
    align-items: flex-start;
}

.single-body {
    box-sizing: border-box;
}

.heading-v1 {
    max-width: 505px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: "IBM Plex Sans";
    font-size: 2rem;
    line-height: 20px;
}

.items-paragraph {
    max-width: 505px;
    margin-bottom: 40px;
    font-family: "IBM Plex Sans";

}

.holder-v1 {
    display: flex;
    margin-bottom: 23px;
}



.holder-v2 {
    margin-top: 7px;
    margin-left: 18px;
}

.heading-v2 {
    max-width: 200px;
    margin-top: 0;
    font-size: 1.1rem;
    line-height: 16px;
}

.paragraph-v2 {
    max-width: 457px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: .01em;

}

.learn-trial {
    display: flex;
    max-width: 400px;
    justify-content: space-between;
    align-items: center;

}

.learn-button {
    padding: 15px 40px 15px;
    border: 1px solid#cccbc9;
    border-radius: 15px;
    color: black;
    line-height: 22px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}

.start-button {
    padding: 15px 30px 15px;
    border: 1px solid transparent;
    border-radius: 15px;
    background-color: #4ba3c9;
    color: white;
    line-height: 22px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}

.item-img {
    width: 695px;
    margin-top: 100px;
    margin-right: 0;
    margin-left: 0;
}
.fa-sharp{
color: rgb(14, 187, 14);
font-size: 20px;
margin-top: 5px;
}